.cover__link {
  width: 100%;
  padding: 20.6% 0;
  z-index: 1;
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
}

@media (max-width: 1024px) {
  .cover__link {
    padding: 19.04% 0;
  }
}

@media (max-width: 768px) {
  .cover__link {
    padding: 14.97% 0;
  }
}

@media (max-width: 320px) {
  .cover__link {
    padding: 10.31% 0;
  }
}
